<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace=
	"~{/layout/layout :: layout(~{::title}, ~{::body}, ~{::style})}">
<head>
<meta charset="UTF-8">
<title>websocket client</title>

<script th:inline="javascript">
	const server = [[${server}]];
	const port = [[${port}]];
	const path = [[${path}]];
$(function(){
	//서버에서 수신할 수 있는 준비 필요
	let ws = new WebSocket("ws://" + server + ":" + port + "/chatting");
	//서버와 연결 성공된 경우
	ws.onopen = function(){
		//입력칸에 keydown 이벤트 등록
		$("#chatStatus").text("info:connection opened")
		$("input[name=chatInput]").on("keydown",function(evt){ 
			if(evt.keyCode == 13){ //Enter 키 입력 
				//msg : 입력한 내용
				let msg = $("input[name=chatInput]").val()
				ws.send(msg)  //서버로 전송
				//입력칸(input 태그)의 값을 초기화
				$("input[name=chatInput]").val("")
			}
		})
	}
	// 서버로부터 메세지 수신
	ws.onmessage = function(event){
		$("textarea").eq(0).prepend(event.data+"\n")
	}
	//
	ws.onclose = function(event){
		$("#chatStatus").text("info:connection close")
	}
})
</script>
</head>
<body>
<p>
<div id="chatStatus"></div>
<textarea name="chatMsg" rows="15" cols="40" class="w3-input"></textarea><br>
메시지입력:<input type="text" name="chatInput" class="w3-input">
</body>
</html>